<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<body>
		<h1>Welcome to the to-do app.</h1>
		<table>
		<form action="/" method="POST">
			<tr>
				<td><label for="username">Username</label></td>
				<td><input type="text" name="username" placeholder="Username" id="username" required></td>
			</tr>
			<tr>
				<td><label for="password">Password</label></td>
				<td><input type="password" name="password" placeholder="Password" id="password" required></td>
			</tr>
			<tr>
				<td><input type="submit" value="Login"></td>
		</form>
				<td><a href="/register"><button>Register</button></a></td>
			</tr>
		</table>
	</body>
</html>